body {
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header-nav {
    padding: 0px 160px;
    margin: 0px;
}

.header-nav {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    padding: 16px 0px;
}

.header-links a {
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 400;
}

.introduction {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 160px;
    gap: 16px;
}

.introduction-text,
.introduction-image {
    flex: 1;
}

.introduction-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6D747D;
    height: 200px;
    flex-shrink: 0;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text,
.introduction-image {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 400;
}

.button-style-1 {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
}

.button-style-1:hover {
    background-color: #1650ac;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 160px;
}

.information-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 32px;
}

.information-content {
    display: flex;
    gap: 40px;
}

.information-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-text {
    padding: 8px;
    text-align: center;
    color: #1F2937;
}

.container {
    height: 150px;
    width: 150px;
    background-color: #1F2937;
    flex-shrink: 0;
    border-radius: 8px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 80px 160px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.quote-author {
    padding: 0px;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
}

.signup-container {
    padding: 40px 160px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
}

.signup-left {
    color: #E5E7EB;
}

.signup-titletext {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.signup-subtext {
    font-size: 18px;
}

.button-style-2 {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 32px;
    font-size: 16px;
    border-color: white;
    border-radius: 8px;
    margin-top: 10px;
    border: 2px solid;
}

.button-style-2:hover{
    background-color: #1650ac;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #1F2937;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
}